blockquote,
.quote-block {
  @apply my-8 pl-5;
  border-left: 5px solid var(--color__primary);

  cite {
    @apply text-xs font-light italic;
  }

  &--large {
    @apply text-2xl;
    padding-left: calc(var(--width--gutter) - 5px);
    padding-right: var(--width--gutter);

    cite {
      @apply text-sm;
    }
  }

  &--list {
    @apply text-2xl mt-1 mb-4;
  }
}
