blockquote,
.quote-block {
  @apply my-8 pl-4;
  border-left: 5px solid var(--color__primary);

  cite {
    @apply text-xs font-light italic;
  }

  &--large {
    @apply pl-4;

    @media (min-width: 800px) {
      padding-right: var(--width--gutter);
      padding-left: calc(var(--width--gutter) - 5px);
    }

    p {
      @apply text-2xl;
    }

    cite {
      @apply text-sm;
    }
  }

  &--list {
    @apply mt-1 mb-4;

    p {
      @apply text-2xl;
    }
  }
}
