.DS_Store
/.env
node_modules/

# Frontend
/public/assets/
/public/dist/

# Kirby
.lock
kirby
vendor

site/plugins/*
!site/plugins/blocks-factory

/public/media/*
!/public/media/index.html

/storage/accounts/*
!/storage/accounts/.gitkeep

/storage/cache/*
!/storage/cache/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

/storage/sessions/*
!/storage/sessions/.gitkeep

/site/config/.license

**/*.jpg
**/*.png
**/*.mp4
!/src/assets/img/*.jpg
!/src/assets/img/*.png