/* empty */
:root {
  --color__primary: #d84339;

  --color__cyan-62: hsl(160, 16%, 62%);
  --color__cyan-35: hsl(160, 16%, 35%);

  --color__blue--100: hsl(336, 5%, 10%);
  --color__blue--200: hsl(336, 5%, 12%);

  --color__egg--100: hsl(30, 15%, 91%);
  --color__egg--200: hsl(30, 15%, 95%);
}
