.grid-lab {
  @apply grid gap-4;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  @media (min-width: 800px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  article {
    @apply relative flex grow flex-col justify-center;

    a {
      @apply h-full;

      @media (min-width: 481px) {
        max-height: clamp(150px, 10vw, 300px);
      }
    }
  }

  @supports (grid-template-rows: masonry) {
    @apply grid-rows-masonry;

    article {
      a {
        @apply max-h-full;
      }
    }
  }
}
