.grid-lab {
  @apply flex flex-wrap flex-col;

  @media (min-width: 481px) {
    @apply flex-row;
  }

  article {
    @apply mb-4;

    @media (min-width: 481px) {
      @apply mr-4;
    }
  }

  img {
    @apply block rounded-md;

    @media (min-width: 481px) {
      @apply w-auto;
      height: clamp(150px, 10vw, 300px);
    }
  }

  @supports (grid-template-rows: masonry) {
    @apply grid gap-4 grid-rows-masonry;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    @media (min-width: 800px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    article {
      @apply m-0;
    }

    img {
      @apply h-auto;
    }
  }
}
