.letterboxd {
  max-width: var(--width--content);
  @apply mt-16 ml-auto w-full;

  &__grid {
    @apply grid grid-cols-3 gap-4;
  }

  a {
    @apply relative inline-block p-0 m-0;
    text-decoration-color: transparent;

    &[target="_blank"]::after {
      content: none;
    }
  }

  p {
    @apply m-0;

    &:last-child {
      @apply hidden;
    }
  }

  img {
    @apply block rounded-t-md;
  }

  span {
    @apply relative bg-blue-100 block text-center pb-1 rounded-b-md tracking-widest z-30 text-egg-200;
  }
}
