# Kirby .htaccess
# revision 2020-06-15

# rewrite rules
<IfModule mod_rewrite.c>

# enable awesome urls. i.e.:
# http://yourdomain.com/about-us/team
RewriteEngine on

# make sure to set the RewriteBase correctly
# if you are running the site in a subfolder;
# otherwise links or the entire site will break.
#
# If your homepage is http://yourdomain.com/mysite,
# set the RewriteBase to:
#
# RewriteBase /mysite

# In some environments it's necessary to
# set the RewriteBase to:
#
# RewriteBase /

# block files and folders beginning with a dot, such as .git
# except for the .well-known folder, which is used for Let's Encrypt and security.txt
RewriteRule (^|/)\.(?!well-known\/) index.php [L]

# block all files in the content folder from being accessed directly
RewriteRule ^content/(.*) index.php [L]

# block all files in the site folder from being accessed directly
RewriteRule ^site/(.*) index.php [L]

# block direct access to Kirby and the Panel sources
RewriteRule ^kirby/(.*) index.php [L]

# make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]

</IfModule>

# pass the Authorization header to PHP
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# compress text file responses
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE application/json
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>


# Expires headers (for better cache control)
<IfModule mod_expires.c>
ExpiresActive on
ExpiresDefault                              "access plus 1 month"
# cache.appcache needs re-requests in FF 3.6 (thanks Remy ~Introducing HTML5)
ExpiresByType text/cache-manifest           "access plus 0 seconds"
# Your document html
ExpiresByType text/html                     "access plus 0 seconds"
# Data
ExpiresByType text/xml                      "access plus 0 seconds"
ExpiresByType application/xml               "access plus 0 seconds"
ExpiresByType application/json              "access plus 0 seconds"
# Feed
ExpiresByType application/rss+xml           "access plus 1 hour"
ExpiresByType application/atom+xml          "access plus 1 hour"
# Favicon (cannot be renamed)
ExpiresByType image/x-icon                  "access plus 1 week"
# Media: images, video, audio
ExpiresByType image/gif                     "access plus 4 months"
ExpiresByType image/png                     "access plus 4 months"
ExpiresByType image/jpeg                    "access plus 4 months"
ExpiresByType image/webp                    "access plus 4 months"
ExpiresByType video/ogg                     "access plus 4 months"
ExpiresByType audio/ogg                     "access plus 4 months"
ExpiresByType video/mp4                     "access plus 4 months"
ExpiresByType video/webm                    "access plus 4 months"
ExpiresByType image/avif                    "access plus 4 months"
ExpiresByType image/avif-sequence           "access plus 4 months"
# HTC files  (css3pie)
ExpiresByType text/x-component              "access plus 1 month"
# Webfonts
ExpiresByType font/ttf                      "access plus 4 months"
ExpiresByType font/otf                      "access plus 4 months"
ExpiresByType font/woff                     "access plus 4 months"
ExpiresByType font/woff2                    "access plus 4 months"
ExpiresByType image/svg+xml                 "access plus 1 month"
ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
# CSS and JavaScript
ExpiresByType text/css                      "access plus 1 year"
ExpiresByType application/javascript        "access plus 1 year"
</IfModule>


<IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'self' https://noembed.com; style-src 'self' 'unsafe-inline'; frame-src https://www.youtube.com https://www.youtube-nocookie.com https://player.vimeo.com https://noembed.com; font-src 'self'; form-action 'self'; img-src 'self' blob: data: https://i.ytimg.com; script-src 'self'; connect-src 'self' https://noembed.com; object-src 'none'; upgrade-insecure-requests"
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-Content-Type-Options "nosniff"
</IfModule>