/* empty */

:root {
  --color__primary: #ec407a;
}

// bp(sm-min)
$breakpoints: (
  tiny: 481px,
  small: 768px,
  medium: 992px,
  large: 1400px,
);

// mixin for media queries
@mixin mq($mq-breakpoint, $mq-breakpoints: $breakpoints) {
  // If $mq-breakpoint is a key that exists in
  // $mq-breakpoints, get and use the value
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }

  @media (min-width: #{$mq-breakpoint}) {
    @content;
  }
}

.grid-lab {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2rem;

  @include mq(tiny) {
    flex-direction: row;
  }

  article {
    margin-bottom: 1rem;

    @include mq(tiny) {
      margin-right: 1rem;
    }
  }

  img {
    display: block;
    border-radius: 5px;

    @include mq(tiny) {
      height: clamp(150px, 10vw, 300px);
      width: auto;
    }
  }

  @supports (grid-template-rows: masonry) {
    display: grid;
    gap: 1rem;
    grid-template-rows: masonry;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    @include mq(small) {
      grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    }

    @include mq(large) {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

    article {
      margin: 0;
    }

    img {
      height: auto;
    }
  }
}
