// Variables
:root {
  --color__primary: #ee316b;

  --color__cyan-62: hsl(41, 100%, 62%);
  --color__cyan-35: hsl(41, 100%, 35%);

  --color__blue--100: hsl(312, 49%, 10%);
  --color__blue--200: hsl(312, 49%, 12%);

  --color__egg--100: hsl(45, 40%, 92%);
  --color__egg--200: hsl(45, 40%, 96%);
}
