.main-navigation {
  @apply fixed left-0 right-0 bottom-0 sm:bottom-8 z-50;

  @media (min-width: 800px) {
    @apply inline-flex flex-col items-start;
    left: calc(50% + var(--width--content) / 2 + 2 * var(--width--gutter));
  }
  @media (max-width: 799px) {
    @apply flex justify-around items-start bg-primary h-16 px-4;
  }

  .logo {
    @apply sm:mb-2 p-3 sm:p-0 flex items-start justify-center h-full;

    &__animated {
      @apply hidden;
    }

    &__static {
      @apply h-6 sm:h-12 block text-egg-200 sm:text-primary hover:text-blue-200 dark:hover:text-egg-200 transition-colors duration-300 ease-in-out;
    }

    &:hover {
      .logo__animated {
        margin-bottom: 25px;

        &::after {
          top: calc(105% + 15px);
          width: 41px;
          left: 17px;
        }
      }
    }

    @media (min-width: 800px) {
      &__animated {
        background-image: url("/assets/img/sp-logo-sprite.png");
        transition: margin 300ms ease-out;
        background-size: 9000px 75px;
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 75px;
        height: 75px;
        backface-visibility: hidden;
        min-width: 75px;
        margin-left: -10px;
        animation: repeatingAnimation 5s steps(120) infinite;
        display: inline-block;
        position: relative;
        margin-bottom: 10px;

        &::after {
          content: "";
          transition: all 300ms ease-out;
          @apply bg-egg-shadow dark:bg-blue-shadow;
          /* background-image: url("/assets/img/logo-shadow.png"); */
          position: absolute;
          width: 55px;
          height: 10px;
          top: 105%;
          left: 10px;
          border-radius: 50%;
          filter: blur(3px);
        }

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background-image: url("/assets/img/sp-logo-sprite@2x.png");
        }
      }

      &__static {
        @apply hidden;
      }
    }
  }
}

@keyframes repeatingAnimation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -9000px;
  }
}

.nav-item {
  @apply relative left-0 cursor-pointer sm:transition-menu sm:duration-300 sm:ease-in-out font-serif no-underline py-3 px-5 sm:p-0 sm:py-1 text-xl;
}

@media (max-width: 799px) {
  .nav-item {
    @apply h-full flex items-start justify-center;

    &.active .nav-icon {
      @apply text-blue-100;
    }
  }
}

@media (min-width: 800px) {
  .nav-item {
    &:hover {
      @apply -left-6;
      padding-left: 2.9rem;
    }

    &::before {
      @apply transition-opacity duration-300 ease-in-out opacity-0 absolute left-0 z-0 text-primary;
    }

    &:hover::before {
      @apply opacity-100;
    }
  }
}

.nav-icon {
  @apply h-6 w-auto sm:hidden flex justify-center items-center text-egg-200;

  svg {
    height: 100%;
  }

  .primary {
    @apply fill-primary;
  }
}

.sub-navigation {
  @apply fixed flex flex-col font-serif z-40 gap-2 sm:gap-1 sm:top-24 text-sm;
  left: calc(50% + var(--width--content) / 2 + 2 * var(--width--gutter));

  a {
    @apply capitalize;

    &.active {
      @apply sm:after:content-['←'] after:text-primary;
    }
  }

  @media (max-width: 799px) {
    @apply bottom-16 left-0 right-0 top-auto w-full bg-egg-100 dark:bg-blue-100 flex-row px-4 text-base overflow-y-auto drop-shadow-[0_0_2rem_rgba(0,0,0,0.5)] dark:drop-shadow-[0_0_2rem_rgba(255,255,255,0.25)];

    a {
      @apply py-3 px-4 underline decoration-normal underline-offset-default;

      &.active {
        @apply decoration-primary decoration-normal;
      }

      &:hover {
        @apply decoration-current;
      }
    }
  }
}
