.main-navigation {
  @apply fixed left-0 right-0 bottom-0 sm:bottom-8 z-50;

  @media (min-width: 800px) {
    @apply inline-flex flex-col items-start;
    left: calc(50% + var(--width--content) / 2 + 2 * var(--width--gutter));
  }
  @media (max-width: 799px) {
    @apply flex justify-around items-start bg-primary h-16 px-4;
  }

  .logo {
    @apply sm:mb-2 p-3 sm:p-0 flex items-start justify-center h-full;

    svg {
      @apply h-6 sm:h-12 block text-egg-200 sm:text-primary hover:text-blue-200 dark:hover:text-egg-200 transition-colors duration-300 ease-in-out;
    }
  }
}

.nav-item {
  @apply relative left-0 cursor-pointer sm:transition-menu sm:duration-300 sm:ease-in-out font-serif no-underline py-3 px-5 sm:p-0 sm:py-1 text-xl;
}

@media (max-width: 799px) {
  .nav-item {
    @apply h-full flex items-start justify-center;

    &.active .nav-icon {
      @apply text-blue-100;
    }
  }
}

@media (min-width: 800px) {
  .nav-item {
    &:hover {
      @apply -left-6;
      padding-left: 2.9rem;
    }

    &::before {
      @apply transition-opacity duration-300 ease-in-out opacity-0 absolute left-0 z-0 text-primary;
    }

    &:hover::before {
      @apply opacity-100;
    }
  }
}

.nav-icon {
  @apply h-6 w-auto sm:hidden flex justify-center items-center text-egg-200;

  svg {
    height: 100%;
  }

  .primary {
    @apply fill-primary;
  }
}

.sub-navigation {
  @apply fixed flex flex-col font-serif z-40 gap-2 sm:gap-1 top-16 text-sm;
  left: calc(50% + var(--width--content) / 2 + 2 * var(--width--gutter));

  a {
    @apply capitalize;

    &.active {
      @apply sm:after:content-['←'] after:text-primary;
    }
  }

  @media (max-width: 799px) {
    @apply bottom-16 left-0 right-0 top-auto w-full bg-egg-100 dark:bg-blue-100 flex-row px-4 text-base overflow-y-auto drop-shadow-[0_0_2rem_rgba(0,0,0,0.5)] dark:drop-shadow-[0_0_2rem_rgba(255,255,255,0.25)];

    a {
      @apply py-3 px-4 underline decoration-normal underline-offset-default;

      &.active {
        @apply decoration-primary decoration-normal;
      }

      &:hover {
        @apply decoration-current;
      }
    }
  }
}
