/* Shared CSS for all pages */

/* Imports */
@import "./styles/fonts.css";

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

// Variables
:root {
  --color__primary: rgba(207, 58, 58, 1);
  --color__primary--20: rgba(207, 58, 58, 0.2);
}

/* Styles */
html,
body {
  @apply h-full;
}

html {
  font-size: clamp(18px, 3vw, 22px);
}

body {
  @apply font-sans font-thin;
}

footer a,
main a {
  @apply text-primary font-medium;

  &:hover {
    @apply underline;
    text-underline-offset: 0.25em;
  }
}

h1,
h2,
h3 {
  @apply font-bold font-serif;
}

h1 {
  @apply mt-2 mb-8;
  font-size: clamp(2rem, 10vw, 3rem);
}

h2 {
  @apply mt-8 mb-4 text-2xl;
}

h3 {
  @apply text-xl;
}

p {
  @apply mb-4;
}

.waves {
  height: clamp(20px, 20vw, 200px);

  &-filler {
    height: clamp(0px, 4vw, 41px);
  }
}

.wrapper {
  @apply flex flex-col mr-8;
  padding-left: calc(clamp(2rem, 7vw, 5rem) + 2rem);
  margin-left: calc(4rem + 100px);
  min-height: calc(100% - clamp(20px, 20vw, 200px));

  @media (max-width: 640px) {
    margin-left: 0;
    padding-left: 4rem;
  }
}

.nav-item {
  @apply relative left-0 cursor-pointer sm:transition-menu sm:duration-300 sm:ease-in-out font-serif no-underline p-3 sm:p-0 sm:py-1 m-1 sm:m-0;

  &.active {
    @apply bg-primary rounded-full;

    .nav-icon {
      --color__primary: #222222;
      @apply text-white;
    }
  }
}

@media (min-width: 640px) {
  .nav-item {
    &:hover {
      @apply -left-4;
      padding-left: 2.35rem;
    }

    &.active {
      @apply bg-transparent text-primary;

      &:hover {
        @apply text-black dark:text-white;
      }
    }

    &::before {
      content: "Soap";
      @apply transition-opacity duration-300 ease-in-out opacity-0 absolute left-0 z-0 text-primary;
    }

    &:hover::before {
      @apply opacity-100;
    }
  }
}

.nav-icon {
  @apply w-4 h-4 block sm:hidden;

  .primary {
    @apply fill-primary;
  }
}

.tag {
  @apply inline-block relative mt-2 mr-2;

  &:before {
    content: "#";
    @apply text-black dark:text-white;
  }
}

.marginal-icon {
  width: clamp(2rem, 7vw, 5rem);
  height: clamp(2rem, 7vw, 5rem);
  left: calc((calc(clamp(2rem, 7vw, 5rem) + 1rem)) * -1);

  svg {
    width: 80%;
  }
}

.grid-factory {
  @apply grid gap-4 my-4;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
}

.search-panel {
  @apply bg-primary max-h-0 overflow-hidden transition-height duration-200 ease-in-out relative z-10;

  &.open {
    @apply max-h-96;
  }
}
