/* Shared CSS for all pages */

/* Imports */
@import "./styles/fonts.css";

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles */
html,
body {
  @apply h-full;
}
html {
  font-size: clamp(18px, 3vw, 22px);
}

body {
  @apply font-sans font-thin;
}

:root {
  --color__primary: #cf3a3a;
}

footer a,
main a {
  @apply text-primary font-medium;
}

h1,
h2,
h3 {
  @apply font-bold font-serif;
}

h1 {
  @apply mt-2 mb-8 text-5xl;
}

h2 {
  @apply mt-8 mb-4 text-2xl;
}

h3 {
  @apply text-xl;
}

.waves {
  height: clamp(20px, 20vw, 200px);
}
.waves-filler {
  height: clamp(0px, 4vw, 41px);
}

.wrapper {
  @apply flex flex-col mr-8;
  padding-left: calc(clamp(2rem, 7vw, 5rem) + 2rem);
  margin-left: calc(4rem + 100px);
  min-height: calc(100% - clamp(20px, 20vw, 200px));
}

@media (max-width: 640px) {
  .wrapper {
    margin-left: 0;
    padding-left: 4rem;
  }
}

.nav-item {
  @apply relative left-0 cursor-pointer transition-all duration-300 ease-in-out font-serif no-underline p-3 sm:p-0 sm:py-1 m-1 sm:m-0;
}
@media (min-width: 640px) {
  .nav-item:hover {
    @apply -left-4;
    padding-left: 2.35rem;
  }

  .nav-item::before {
    content: "Soap";
    @apply transition-opacity duration-300 ease-in-out opacity-0 absolute left-0 z-0 text-primary;
  }

  .nav-item:hover::before {
    @apply opacity-100;
  }
}
.nav-icon {
  @apply w-4 h-4 block sm:hidden;
}

.nav-icon .primary {
  @apply fill-primary;
}
