html {
  font-size: clamp(18px, 1.5vw, 24px);
  line-height: 1.6;
  font-weight: 300;
}

main {
  grid-template-columns: 1fr minmax(auto, var(--width--content)) 1fr;

  > * {
    grid-column: 1 / 3;
    max-width: 100%;

    @media (max-width: 799px) {
      grid-column: 2 / 3;
    }
  }

  > header {
    @apply ml-auto mb-16 w-full max-w-content;
  }
}
